<h1>Search Result:</h1>
<ul class="list-group">
  <li class="list-group-item"><strong>Name: </strong>{{donut.Donut_Name}}</li>
  <li class="list-group-item"><strong>Price: </strong>{{donut.Price}}</li>
</ul>
<a class="btn btn-default pull-left" href="/">Back</a>
<form method="POST" action="/donut/delete/{{donut.id}}?_method=DELETE">
  <input type="submit" class="btn btn-danger pull-right" value="Delete">
</form>
